<h3>Login:</h3>
<%= form_for :user, :url => { :action => :create } do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h3>Invalid information</h3>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field input-user">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field input-user">
    <%= f.label :password, 'Contraseña' %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="actions register">
    <%= f.submit "Login" %>
  </div>
<% end %>